#intro-static-section {
    padding-left: 0;
    padding-right: 0;
    .full-height {
        //height: calc(85vh - 200px) !important;
    }
}
.intro-static-title {
    line-height: 1.1;
    display: block;
}

.text-main {
    // color: $orange !important;
}