.scroll-down-arrow span {
    -webkit-animation: none;
	animation: none;
        transition: all 0.2s ease-in-out;

    &:hover {
        color: $medium-blue;
    }
}

#intro-static-section {
    padding-left: 0;
    padding-right: 0;
}

.text-main {
    // color: $orange !important;
}

#contact-section .section-inner {
    background-color: $medium-grey;
    a {
	color: $medium-blue;
    }
    a:hover, a:focus {
	    color: $medium-blue;
    }
}

.form-control {
    // background-color: #cbcbcd;
}

.info-box {
    background-color: $medium-grey;
}

.info-box.ib-bordered {
    border-color: $dark-blue;
}

.info-box.ib-bordered.ib-hover:hover {
    border-color: $medium-blue;
    .info-box-icon {
        background-color: $darkest-grey;
        transition: all 0.3s ease-in-out;
    }
}

#services-section .btn-link {
  //  color: $orange;
}



// FLEX

.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.confirmation {
    color: red;
}