@{
    ViewData["Title"] = "Home Page";
}


<!-- =================================
            ///// Begin intro static section /////
            ================================== -->
<section id="intro-static-section">
    <div class="section-inner no-padding full-height bg-image" style="background-image: url(/images/ocean_whale.jpg); background-position: 50% 75%;">

        <div class="intro-static-caption text-white text-center align-center max-width-800">
            <h1 class="intro-static-title">bring your business to the surface</h1>
            <hr class="hr-short hr-blue hr-big">
            <p class="intro-static-description">design &amp; branding for your online presence</p>
            <a href="#services-section" class="btn btn-primary margin-top-20 margin-right-5 sm-scroll">read more</a>
            <a href="#contact-section" class="btn btn-white-bordered margin-top-20 sm-scroll">contact us</a>
        </div>

        <!-- Element cover -->
        <div class="cover bg-transparent-5-dark"></div>

        <!-- Scroll down arrow -->
        <a class="scroll-down-arrow sm-scroll text-center" href="#services-section"><span><i class="fa fa-arrow-down"></i></span></a>

    </div> <!-- /.section-inner -->
</section>
<!-- End intro static section -->
















<!-- ==============================
            ///// Begin services section /////
            =============================== -->
<section id="services-section">

    <div class="row margin-bottom-100">
        <div class="col-md-4">
            <p class="text-main margin-bottom-15">see how we can help</p>
            <h2>our services</h2>
            <hr class="hr-short hr-blue">
        </div> <!-- /.col -->

        <div class="col-md-8">
            <p>
                We are a small group - with years of design, development, and business experience. Talk to us, and then let us weave together a solution to place your business front and center for your customers. 
            </p>
            <p>
                It's our goal to build your online presence into an easy to understand and fuctional tool. We can help clear out the noise so that your customers can instantly find and connect with your business.
            </p>
        </div> <!-- /.col -->
    </div> <!-- /.row -->
    <!-- Begin info box wrap -->
    <div class="info-box-wrap">
        <div class="row">

            <div class="col-lg-3 col-sm-6">

                <!-- Begin info box
                * Use class "ib-bordered" for box border.
                * Use class "ib-hover" for box hover effect.
                -->
                <div class="info-box ib-bordered ib-hover">
                    <span class="info-box-icon"><i class="fa fa-paint-brush"></i></span>
                    <h3 class="info-box-title">designing</h3>
                    <hr class="hr-short">
                    <p class="info-box-text">Cras faucibus nisi eu vehicula fermentum. Integer ultricies nisl id enim varius, at pharetra.</p>
                    <a href="#contact-section" class="btn btn-link btn-sm sm-scroll">contact us</a>
                </div>
                <!-- End infobox -->

            </div> <!-- /.col -->

            <div class="col-lg-3 col-sm-6">

                <!-- Begin info box
                * Use class "ib-bordered" for box border.
                * Use class "ib-hover" for box hover effect.
                -->
                <div class="info-box ib-bordered ib-hover">
                    <span class="info-box-icon"><i class="fa fa-code"></i></span>
                    <h3 class="info-box-title">developing</h3>
                    <hr class="hr-short">
                    <p class="info-box-text">Cras faucibus nisi eu vehicula fermentum. Integer ultricies nisl id enim varius, at pharetra.</p>
                    <a href="#contact-section" class="btn btn-link btn-sm sm-scroll">contact us</a>
                </div>
                <!-- End infobox -->

            </div> <!-- /.col -->

            <div class="col-lg-3 col-sm-6">

                <!-- Begin info box
                * Use class "ib-bordered" for box border.
                * Use class "ib-hover" for box hover effect.
                -->
                <div class="info-box ib-bordered ib-hover">
                    <span class="info-box-icon"><i class="fa fa-globe"></i></span>
                    <h3 class="info-box-title">branding</h3>
                    <hr class="hr-short">
                    <p class="info-box-text">Cras faucibus nisi eu vehicula fermentum. Integer ultricies nisl id enim varius, at pharetra.</p>
                    <a href="#contact-section" class="btn btn-link btn-sm sm-scroll">contact us</a>
                </div>
                <!-- End infobox -->

            </div> <!-- /.col -->

            <div class="col-lg-3 col-sm-6">

                <!-- Begin info box
                * Use class "ib-bordered" for box border.
                * Use class "ib-hover" for box hover effect.
                -->
                <div class="info-box ib-bordered ib-hover">
                    <span class="info-box-icon"><i class="fa fa-users"></i></span>
                    <h3 class="info-box-title">marketing</h3>
                    <hr class="hr-short">
                    <p class="info-box-text">Cras faucibus nisi eu vehicula fermentum. Integer ultricies nisl id enim varius, at pharetra.</p>
                    <a href="#contact-section" class="btn btn-link btn-sm sm-scroll">contact us</a>
                </div>
                <!-- End infobox -->

            </div> <!-- /.col -->

        </div> <!-- /.row -->

        

    </div>
    <!-- End info box wrap -->

</section>
<!-- End services section -->















<!-- ============================
            ///// Begin contact section /////
            ============================= -->
<section id="contact-section">

    <div class="section-inner">
        <div class="row">

            <!-- Left column -->
            <div class="col-md-3">

                <address>
                    <strong>Keelsen</strong><br>
                    Memphis, TN<br>
                    <i class="fa fa-phone"></i> (901) 878-5575 <br>
                    <i class="fa fa-envelope"></i> <a href="mailto:#">info@keelsen.com</a>
                </address>

            </div> <!-- /.col -->
            <!-- Right column -->
            <div class="col-md-9">

                <h3>Let us know how we can help you.</h3>

                <br>

                <!-- Begin contact form -->
                <form id="contact-form">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="your name" required>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="your email" required>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="subject" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea class="form-control" id="message" name="message" rows="5" placeholder="your message" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary">send message</button>
                        </div>
                    </div>
                </form>
                <!-- End contact form -->

                



            </div> <!-- /.col -->
        </div> <!-- /.row -->

    </div> <!-- /.section-inner -->
</section>
<!-- End contact section -->



<div class="row margin-top-100 margin-auto max-width-800">
    <div class="col-md-12 text-center">
        <p class="randomQuote">“The most dangerous poison is the feeling of achievement. The antidote is to every evening think what can be done better tomorrow.” <span class="orange">—&nbsp;Ingvar Kamprad</span>
        </p>
        <p class="randomQuote">“Almost all quality improvement comes via simplification of design, layout, processes, and procedures.” <span class="orange">—&nbsp;Tom Peters</span>
        </p>
        <p class="randomQuote">“It’s not about ideas. It’s about making ideas happen.” <span class="orange">—&nbsp;Scott Belsky</span>
        </p>
        <p class="randomQuote">“Judge a man by his questions, not by his answers.” <span class="orange">—&nbsp;Voltaire</span>
        </p>
    </div> <!-- /.col -->
</div> <!-- /.row -->
