@{
    ViewData["Title"] = "Home Page";
}


<!-- ================================
            ///// Begin intro video section /////
            ================================= -->
<section id="intro-video-section">

    <!-- Begin YTPlayer (Youtube video background)
    ===============================================
    NOTE: Replace videoURL with your own (videoURL:'your-youtube-video-URL').
    Do not forget to add your background image for mobile devices (because the video background doesn't work on mobile devices).
    More info about YTPlayer: https://github.com/pupunzi/jquery.mb.YTPlayer -->
    <div class="youtube-bg full-height min-height-250"
         style="background-image: url(assets/img/video/video-bg-2.jpg); background-position: 50% 50%;"
         data-property="{
					videoURL: 'https://www.youtube.com/watch?v=3vbnWyLzWbc',
					containment: 'self',
					startAt: 0,
					stopAt: 0,
					autoPlay: true,
					loop: true,
					mute: true,
					showControls: false,
					showYTLogo: false,
					realfullscreen: true,
					addRaster: false,
					optimizeDisplay: true,
					stopMovieOnBlur: true
				}">

        <!-- Element cover -->
        <div class="cover bg-transparent-8-dark"></div>

        <div class="intro-video-caption align-center text-white text-center">
            <h1 class="intro-video-title">we are <span class="text-main">Keelsen</span></h1>
            <hr class="hr-short hr-white hr-big">
            <p class="intro-video-description">consulting agency</p>
            <a href="#welcome-section" class="btn btn-primary margin-top-20 margin-right-5 sm-scroll">start now!</a>
            <a href="#welcome-section" class="btn btn-white-bordered margin-top-20">read more</a>
        </div>

    </div>
    <!-- End YTPlayer (Youtube video background) -->
    <!-- Scroll down arrow -->
    <a class="scroll-down-arrow sm-scroll text-center" href="#welcome-section"><span><i class="fa fa-arrow-down"></i></span></a>

</section>
<!-- End intro video section -->




<!-- ============================
            ///// Begin welcome section /////
            ============================= -->
<section id="welcome-section">

    <div class="row margin-bottom-100">
        <div class="col-md-4">
            <p class="text-main margin-bottom-15">hello!</p>
            <h2>welcome to Keelsen</h2>
            <hr class="hr-short">
        </div> <!-- /.col -->

        <div class="col-md-8">
            <p>Nunc euismod ipsum vel metus rhoncus, a accumsan sapien mollis. Donec malesuada lacus rhoncus ipsum dignissim, sed fringilla orci faucibus. Proin non odio dui. Donec ut tristique dolor, at interdum sem. Quisque finibus viverra lectus vitae pulvinar.</p>

            <p>Duis mattis quam quis quam cursus, a rutrum ante luctus. Phasellus porta ornare enim ac euismod. Nulla fringilla lectus ac tincidunt viverra.</p>
        </div> <!-- /.col -->
    </div> <!-- /.row -->
    <!-- Begin info box wrap -->
    <div class="info-box-wrap max-width-1400">
        <div class="row">

            <div class="col-lg-4 col-sm-6">

                <!-- Begin info box small -->
                <div class="info-box-small">
                    <span class="info-box-icon"><i class="fa fa-diamond"></i></span>
                    <div class="info-box-info">
                        <h3 class="info-box-title">clean design</h3>
                        <p class="info-box-text">
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.
                        </p>
                    </div>
                </div>
                <!-- End info box small -->

            </div> <!-- /.col -->

            <div class="col-lg-4 col-sm-6">

                <!-- Begin info box small -->
                <div class="info-box-small">
                    <span class="info-box-icon"><i class="fa fa-code"></i></span>
                    <div class="info-box-info">
                        <h3 class="info-box-title">commented code</h3>
                        <p class="info-box-text">
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.
                        </p>
                    </div>
                </div>
                <!-- End info box small -->

            </div> <!-- /.col -->

            <div class="col-lg-4 col-sm-6">

                <!-- Begin info box small -->
                <div class="info-box-small">
                    <span class="info-box-icon"><i class="fa fa-tablet"></i></span>
                    <div class="info-box-info">
                        <h3 class="info-box-title">responsive</h3>
                        <p class="info-box-text">
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.
                        </p>
                    </div>
                </div>
                <!-- End info box small -->

            </div> <!-- /.col -->

            <div class="col-lg-4 col-sm-6">

                <!-- Begin info box small -->
                <div class="info-box-small">
                    <span class="info-box-icon"><i class="fa fa-edit"></i></span>
                    <div class="info-box-info">
                        <h3 class="info-box-title">easy to edit</h3>
                        <p class="info-box-text">
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.
                        </p>
                    </div>
                </div>
                <!-- End info box small -->

            </div> <!-- /.col -->

            <div class="col-lg-4 col-sm-6">

                <!-- Begin info box small -->
                <div class="info-box-small">
                    <span class="info-box-icon"><i class="fa fa-bicycle"></i></span>
                    <div class="info-box-info">
                        <h3 class="info-box-title">awesome icons</h3>
                        <p class="info-box-text">
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.
                        </p>
                    </div>
                </div>
                <!-- End info box small -->

            </div> <!-- /.col -->

            <div class="col-lg-4 col-sm-6">

                <!-- Begin info box small -->
                <div class="info-box-small">
                    <span class="info-box-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="info-box-info">
                        <h3 class="info-box-title">built with love</h3>
                        <p class="info-box-text">
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.
                        </p>
                    </div>
                </div>
                <!-- End info box small -->

            </div> <!-- /.col -->

        </div> <!-- /.row -->
    </div>
    <!-- End info box wrap -->

</section>
<!-- End welcome section -->