@{
    ViewData["Title"] = "Home Page";
}


<!-- ================================
            ///// Begin intro video section /////
            ================================= -->
<section id="intro-video-section">

    <!-- Begin YTPlayer (Youtube video background)
    ===============================================
    NOTE: Replace videoURL with your own (videoURL:'your-youtube-video-URL').
    Do not forget to add your background image for mobile devices (because the video background doesn't work on mobile devices).
    More info about YTPlayer: https://github.com/pupunzi/jquery.mb.YTPlayer -->
    <div class="youtube-bg full-height min-height-250"
         style="background-image: url(~/images/memphis_city.jpg); background-position: 50% 50%;"
         data-property="{
					videoURL: 'https://www.youtube.com/watch?v=3vbnWyLzWbc',
					containment: 'self',
					startAt: 0,
					stopAt: 0,
					autoPlay: true,
					loop: true,
					mute: true,
					showControls: false,
					showYTLogo: false,
					realfullscreen: true,
					addRaster: false,
					optimizeDisplay: true,
					stopMovieOnBlur: true
				}">

        <!-- Element cover -->
        <div class="cover bg-transparent-8-dark"></div>

        <div class="intro-video-caption align-center text-white text-center">
            <h1 class="intro-video-title"><span class="text-main">Keelsen</span> consulting</h1>
            <hr class="hr-short hr-white hr-big">
            <p class="intro-video-description">strategies for your business brand</p>
            <a href="#about" class="btn btn-primary margin-top-20 margin-right-5 sm-scroll">read more</a>
            <a href="#contact" class="btn btn-white-bordered margin-top-20 sm-scroll">contact us</a>
        </div>

    </div>
    <!-- End YTPlayer (Youtube video background) -->
    <!-- Scroll down arrow -->
    <a class="scroll-down-arrow sm-scroll text-center" href="#about"><span><i class="fa fa-arrow-down"></i></span></a>

</section>
<!-- End intro video section -->




<!-- ============================
            ///// Begin about section /////
            ============================= -->

<section id="about">

    <div class="row margin-bottom-100">
        <div class="col-md-4">
            <p class="text-main margin-bottom-15">hello!</p>
            <h2>about Keelsen</h2>
            <hr class="hr-short">
        </div> <!-- /.col -->

        <div class="col-md-8">
            <p>Nunc euismod ipsum vel metus rhoncus, a accumsan sapien mollis. Donec malesuada lacus rhoncus ipsum dignissim, sed fringilla orci faucibus. Proin non odio dui. Donec ut tristique dolor, at interdum sem. Quisque finibus viverra lectus vitae pulvinar.</p>

            <p>Duis mattis quam quis quam cursus, a rutrum ante luctus. Phasellus porta ornare enim ac euismod. Nulla fringilla lectus ac tincidunt viverra.</p>
        </div> <!-- /.col -->
    </div> <!-- /.row -->
    <!-- Begin info box wrap -->
   

</section>
<!-- End about section -->













<!-- ============================
            ///// Begin contact section /////
            ============================= -->
<section id="contact-section">

    <div class="section-inner margin-top-100">
        <div class="row">

            <!-- Left column -->
            <div class="col-md-3">

                <address>
                    <strong>Keelsen</strong><br>
                    Memphis, TN<br>
                    <i class="fa fa-phone"></i> (901) 878-5575 <br>
                    <i class="fa fa-envelope"></i> <a href="mailto:#">info@keelsen.com</a>
                </address>

            </div> <!-- /.col -->
            <!-- Right column -->
            <div class="col-md-9">

                <h3>Let us know how we can help you.</h3>

                <br>

                <!-- Begin contact form -->
                <form id="contact-form">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="your name" required>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="your email" required>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="subject" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea class="form-control" id="message" name="message" rows="5" placeholder="your message" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary">send message</button>
                        </div>
                    </div>
                </form>
                <!-- End contact form -->

            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- /.section-inner -->
</section>
<!-- End contact section -->