#contact-section .section-inner {
    background-color: $medium-grey;
    a {
	color: $medium-blue;
    }
    a:hover, a:focus {
	    color: $medium-blue;
    }
    clear: both;
}

.form-control {
    // background-color: #cbcbcd;
}