#services-section {
    // padding-top: 47px;
    .btn-link {
    //  color: $orange;
    }
}

.info-box-wrap {
    clear: both;
}

.info-box {
    background-color: $medium-grey;
}

.info-box.ib-bordered {
    border-color: $dark-blue;
    padding-bottom: 20px;
}

.info-box.ib-bordered.ib-hover:hover {
    border-color: $medium-blue;
    .info-box-icon {
        background-color: $darkest-grey;
        transition: all 0.3s ease-in-out;
    }
}

