#footer {
    background-color: $dark-grey;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    .bg-dark {
        
    }
    img {
        height: 100px;
        margin-bottom: 20px;
    }
    .section-inner {
        padding: 80px 80px 40px 80px;
    }
}